@model Book

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Model.ImageThumbnailUrl" alt="" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title"><a class="card-link" asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookId">@Model.Name</a></h5>
                   
                        <p class="card-text">@Model.Price.ToString("c")</p>

                    <p class="card-text">@Model.ShortDescription</p>
                   

                    <div class="addToCart">
                      
                            <a class="btn btn-primary"
                               asp-controller="ShoppingCart"
                               asp-action="AddToShoppingCart"
                               asp-route-bookId="@Model.BookId">Add to cart</a>
                       
                   
                </div>
            </div>
        </div>
        </div>

